<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Employee</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">

</head>
<body>
	<div class="container">
		<h3>Employee Directory</h3>
		<hr>
		<p class="h4 mb-4">Save Employee</p>
		<form action="#" th:action="@{/addNewEmployee}"
			th:object="${employee}" method="POST">
			<input type="hidden" th:field="*{employeeId}" />
			<input type="text" th:field="*{employeeName}" class="form-control mb-4 col-4" placeholder="Employee First Name"> 
			<input type="text" th:field="*{employeeSurname}" class="form-control mb-4 col-4" placeholder="Employee Surname"> 
			<input type="text" th:field="*{employeeEmail}" class="form-control mb-4 col-4" placeholder="Employee Email">
			<button type="submit" class="btn btn-info col-2">Save Employee</button>
		</form>
		<hr>
		<a th:href="@{/main}">Back to Employee List</a>
	</div>



</body>
</html>